.tools {
  position: relative;

  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  background-color: rgba(23, 23, 23, 1);

  overflow: hidden;
  box-sizing: border-box;
}

.tool {
  width: 2rem;
  font-size: 0.8rem;
  color: white;
  cursor: pointer;
  background-color: rgba(23, 23, 23, 1);
  transition: all 0.1s ease-in-out;
  text-align: center;
  position: relative;
  padding: 0.6em 0.4em;

  box-sizing: border-box;
}

.tool:hover {
  transform: scale(1.1);
  z-index: 1;
}

.tooltip {
  position: absolute;
  left: 2.1rem;
  top: 0.24rem;
  padding: 0.2rem;
  font-size: 0.8rem;
  border-radius: 0.4rem;
  color: rgba(23, 23, 23, 1);
  background-color: rgba(201, 201, 201, 1);
  opacity: 0;
}

.tool:hover .tooltip {
  opacity: 1;
  z-index: 10;
}

#file {
  display: none;
  cursor: pointer;
}

.flex_end {
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(23, 23, 23, 1);
  cursor: pointer;
  font-size: 1rem;
  padding: 0.48em 0.32em;
}

#save {
  border: none;
  cursor: pointer;
}

.files {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.rotate {
  transform: rotate(270deg);
}

@media (max-width: 800px) {
  .tools {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  button {
    border: 0;
  }

  .tool,
  #save,
  label[for='file'] {
    /* width: 10%;
    height: 10%; */
    flex: 1;
  }

  .tooltip {
    display: none;
  }

  .tools_flex {
    flex-direction: row;
  }

  .tool:hover {
    transform: scale(1);
    z-index: 1;
  }

  .files {
    position: relative;
    flex-direction: row;
    flex: 2;
  }
}
